[2019-07-08 19:53] #386 closed

[2019-07-08 19:53] dmjio commented on #265
@sectore any updates on this ?

[2019-07-09 06:55] sectore commented on #265
No updates. Anyone - who might be interested - is welcome to continue on this.

[2019-07-09 08:18] therewillbecode commented on #265
@dmjio Thanks for the offer! Would love to but don't really have the bandwidth right now.

[2019-07-09 15:51] Lermex commented on #265
@dmjio I can do this

[2019-07-09 15:59] dmjio commented on #265
@Lermex nice ! I've assigned to you, and reached out on slack.

[2019-07-11 00:45] kitlangton commented on #464
I've experienced this issue forever, and nothing works. Nothing in the related nix thread helps. Has anyone discovered a fix for this?

[2019-07-11 01:07] Lermex commented on #464
@kitlangton Here's a minimal [default.nix](https://gist.github.com/Lermex/a692668a4299e2f80e00d904d8d79bae) that 100% works on Mojave right now (I'm on 10.14.5).

I'm gonna try upgrading it to the latest ghcjs and removing the dependency on a miso fork when @dmjio is done with #493 but for now it's good enough.

[2019-07-11 01:43] dmjio commented on #464
@kitlangton, as @Lermex has said, #493 works well on Mojave. The `advanced-optimizations` branch should be inclusive of the Mojave fix.

[2019-07-11 02:43] kitlangton commented on #464
Yayyyy! Thank you so much

[2019-07-12 11:05] Lermex commented on #265
Here it is! https://github.com/Lermex/miso-plane
Comments/reviews are very welcome.

[2019-07-12 13:47] dmjio commented on #265
Fantastic ! @Lermex

[2019-07-12 13:47] #265 closed

[2019-07-12 14:13] dmjio commented on #334
@mikelpr I'm working on a nix overhaul of miso's nixpkgs infra as we speak, will include documentation as well.

[2019-07-13 18:14] Lermex commented on #464
FYI, here is the new [default.nix](https://github.com/Lermex/miso-plane/blob/1b27a73f6769b338c239734c9185c2ca8fb4ddf9/default.nix) with GHCJS 8.6 and the latest Miso.

This compiled and worked perfectly on my Mojave but it did take around *4 hours* to compile the first time due to the lack of binary caches. So I set up a binary cache on Cachix here: https://lermex.cachix.org/

So before running ni

[2019-07-14 17:48] Lermex opened #498 "Miso Realworld Example App"
This issue is to announce that I'm working on implementing a Miso submission for [Realworld](https://github.com/gothinkster/realworld). This is aiming to be the most comprehensive Miso example with pages, routing, auth, css, etc.

The only thing it's not gonna cover, at least initially, is full-stack development with shared types. I'll think about adding that (maybe in a separate example?) when th

[2019-07-14 23:44] dmjio commented on #489
Stack support has been officially deprecated.

[2019-07-14 23:44] #489 closed

[2019-07-14 23:45] dmjio commented on #433
Stack support has been [officially deprecated](https://github.com/commercialhaskell/stack/commit/c94b0405baa2e8e5c3a2552896fbbb9f2184ab9d), we recommend using `nix` with [miso's binary cache](https://haskell-miso.cachix.org).

[2019-07-14 23:45] #433 closed

[2019-07-14 23:46] #165 closed

[2019-07-15 04:41] dmjio commented on #334
@mikeplr should be good now

[2019-07-15 04:41] #334 closed

[2019-07-16 02:59] dmjio opened #504 "Build diff.js tests w/ travis"
Run DOM tests w/ headless browser.

[2019-07-16 11:58] dmjio opened #506 "Move miso examples into their own cabal file"
Miso examples should be built separately.

[2019-07-16 12:10] #504 closed

[2019-07-16 12:11] dmjio commented on #487
This is most likely due to the fact I uploaded the docs directly from a call to `nix-build` and not `Cabal`.

[2019-07-16 12:18] dmjio opened #510 "Push haddocks + examples to S3 automatically"
Travis should push documentation and s3 examples to the cloud automatically on merges to `master`.

[2019-07-16 12:19] dmjio opened #511 "Resubmit benchmarks closure-compiled"
Update benchmarks code w/ closure-compiled (ADVANCED_OPTIMIZATIONS enabled) artifacts

[2019-07-16 12:22] dmjio commented on #472
This seems to be moreso related to `GHCJS` than `miso` itself. Also, I'd recommend upgrading to GHCJS 8.6 (`miso` master gives this), and see if this issue still persists. If so, I'd repost on https://github.com/ghcjs/ghcjs/

[2019-07-16 14:33] patrickmn commented on #472
I'm still seeing this in the form of a crash when trying to execute the jsexe with `node`. Previously, the miso jsbits didn't reference `window`; now they do, so the program doesn't run. (Tbf I could just move the `miso` dep to a browser-only executable, but still..) It also breaks the test-suite.

I am using GHCJS 8.4.0.1 atm -- unfortunately I can't upgrade.

[2019-07-16 15:00] dmjio commented on #472
Seems to make sense, the DOM does not exist in `node`, unless you use a tool like `jsdom` to provide one. The test-suite only works with a mock DOM (`jsdom`.) What is the use case for using `node` I guess.

[2019-07-16 15:16] patrickmn commented on #472
To be clear, I'm referring to my own test-suite. I'm including `miso` as a library-level dependency in a cabal file that has a test-suite and a ghc, node, and browser-only executable so that I get ghcid for the Views among other things. Because the jsbits are injected into jsexe output no matter what, this means my node exe and ghcjs test-suite break due to `window` not existing.

I can rearrange

[2019-07-16 15:52] dmjio commented on #472
@patrickmn yea it does seem like a regression, can you try this PR out: https://github.com/dmjio/miso/pull/512

[2019-07-16 16:24] patrickmn commented on #472
Yep, works again given that change. Thanks!

[2019-07-16 16:24] #472 closed

[2019-07-16 19:50] dmjio commented on #340
@wisn lighthouse metrics are looking good, any thoughts on moving this forward? https://files.slack.com/files-pri/T2GM0PT2P-FLFMP8Y7R/image.png

[2019-07-16 20:38] dmjio commented on #374
Closing for now, please re-open if the problem persists.

[2019-07-16 20:38] #374 closed

[2019-07-21 17:58] dmjio commented on #506
https://github.com/dmjio/miso/pull/514

[2019-07-21 17:58] #506 closed

[2019-07-22 02:51] dmjio opened #515 "Support Android via jsaddle-clib"
Might be useful

[2019-07-22 03:01] dmjio commented on #359
Re-open if necessary please.

[2019-07-22 03:01] #359 closed

[2019-07-22 03:10] dmjio commented on #367
Reflex team / platform has done a lot of incredible work in upstreaming features (GHC cross compilation for ARM) into `nixpkgs`, which `miso` now utilizes as of `1.1`, along with `jsaddle`, per @cocreature's work. It seems incremental building is achievable as well via a blend of `cabal-new` build and `nix-shell`. Core functionality for building / deployment should be present in `miso` now, but bu

[2019-07-22 03:10] #367 closed

[2019-07-22 08:05] pamu commented on #359
Properly fixing this would require changes in servant repo

[2019-07-23 15:15] dmjio commented on #511
https://github.com/krausest/js-framework-benchmark/pull/611

[2019-07-23 15:24] dmjio commented on #432
@AesaKamar let me know if this should be re-opened. `jsaddle` is still supported with `miso` and has helped with cross-compilation support to ARM. For day-to-day work in building websites I normally do not use it. I just use a tool like `entr` to detect file changes and invoke `cabal build`. Then use `nix-shell --run web-runner` in its own shell for the server, and `nix-shell --run web-runner shel

[2019-07-23 15:24] #432 closed

[2019-07-23 17:20] dmjio commented on #511
cc @FPtje

[2019-07-31 12:14] y-taka-23 opened #516 "TypeError when you use liKeyed_"
**Describe the bug**

In miso-1.1.0.0, updating a keyed element results in an uncaught TypeError. The phenomenon looks close to #459, but slightly different. Actually I'm not sure it's from Miso; GHCJS itself is also suspicious I think.

**To Reproduce**

`default.nix`:

[code]

`app.cabal`:

[code]

`Main.hs`:

[code]

Build it by `nix-build`, click the + button twice, and you can see in the dev

[2019-07-31 16:04] dmjio commented on #516
This is a bug in miso's diffing algorithm (`domRef` is miso-specific). It's a specific case that occurs when keys are prepended as opposed to being appended (If you change the code to `items m ++ [show c]` it will not occur). This bug doesn't manifest itself in the benchmarks because keys are always appended in that case. This bug also occurred in the todo-mvc example. https://github.com/dmjio/mis

[2019-07-31 16:06] dmjio commented on #516
@y-taka-23 let me know if this fixes it for you, but I was able to run your example without errors per this patch.

[2019-08-01 01:48] #516 closed

[2019-08-01 01:48] #511 closed

[2019-08-01 01:53] dmjio commented on #516
@y-taka-23 nice find.

[2019-08-01 03:30] y-taka-23 commented on #516
Thanks, v1.2.0.0 fixed the issue!

[2019-08-04 19:43] patrickmn opened #518 "Servant.API.Generic example?"
Can't quite figure out how to `runRoute` a generic record.

https://haskell-servant.readthedocs.io/en/stable/cookbook/generic/Generic.html

Seems like I need an AsRouteT?

[2019-08-04 19:52] dmjio commented on #518
Seems like you might need:

api :: Proxy (ToServantApi Routes)
api = genericApi (Proxy :: Proxy Routes)

You’d probably have to further apply miso’s type family to the result of ToServantAPI.

[2019-08-04 19:59] patrickmn commented on #518
That does seem to work, but I'm struggling with converting a corresponding record of `model -> View action` handlers, i.e. what you'd use `AsServer` and `genericServe` with Wai.

[code]

From Servant:

[code]

[2019-08-04 23:57] dmjio commented on #518
I'd try this type family http://hackage.haskell.org/package/miso-1.2.0.0/docs/Miso-TypeLevel.html
`ToServerRoutes`.

[2019-08-05 00:25] dmjio commented on #425
https://github.com/tastejs/todomvc/issues/1987

[2019-08-05 00:52] #510 closed

[2019-08-05 00:54] dmjio commented on #316
https://github.com/dmjio/miso/commit/6bf6ec1db6bfd1f6a1a1b2127465c68107d7dd44 I believe this was implemented, re-open if not so.

[2019-08-05 00:54] #316 closed

[2019-08-05 00:57] dmjio commented on #518
And here's an example of its usage:
https://github.com/dmjio/miso/blob/master/examples/haskell-miso.org/server/Main.hs#L53

[2019-08-05 15:40] patrickmn commented on #518
I appreciate the examples, but I guess I don't understand type families well enough to figure out how to convert the (value-level) record of handlers to a tree of :<|> handlers.

[2019-08-05 15:48] dmjio commented on #518
It should be simply calling `pure` to get `View Action` to be `Handler (View Action)`, where `Handler ~ ExceptT String IO`, but I've never used this with the generic record mechanism. They might require pure to be used inside of the generic traversal.

[2019-08-05 16:02] patrickmn commented on #518
I think I see how the conversion to server handlers happen, as you say. But I want to use the record to route client-side using `Miso.Router.runRoute`. How do I define `handlers :: Routes _` such that rather than becoming `ServerT api m` (`Routes AsServer`) it becomes `RouteT api a`?

I tried

[code]

which leads to

[code]

That makes sense since the type signature of `ServerT` is `ServerT api (m

[2019-08-05 16:46] dmjio commented on #518
Can you past me a full minimal example and I can check it out tonight.

[2019-08-05 18:10] patrickmn commented on #518
Yep, will do in a bit.

[2019-08-05 19:47] tysonzero commented on #316
Yeah the new setup seems to work well. Personally I don't use the URI parameter at all in `miso`, as the server deals with the URI when creating and sending over the initial state. But for others with different setups / backwards compatibility it seems reasonable to keep it in.

[2019-08-05 21:16] patrickmn commented on #518
I'm now having some unrelated GHCJS build problem where `cabal new-build --ghcjs` (in reflex-platform shell) can't deduce ToJSVal Value when building Miso as a dependency for my sample project: https://gist.github.com/patrickmn/31ec098a4eacc23d773aa71f29b2c612. IIRC I've seen this before but I can't remember why, so for the moment I can't build the jsexe for the example below. (I really hate Haske

[2019-08-06 14:24] patrickmn commented on #518
Fixed the GHCJS build issue and the example client.

[2019-08-08 13:17] dmjio opened #519 "Upload miso-examples to hackage"

[2019-08-08 13:19] dmjio commented on #518
@patrickmnc miso comes with an up-to-date `nixpkgs` set that should suffice. Still getting to this.

[2019-08-09 17:59] dmjio commented on #519
http://hackage.haskell.org/package/miso-examples

[2019-08-09 17:59] #519 closed

[2019-08-09 18:37] patrickmn commented on #518
No rush, consider it a feature request :) I find Servant insufferable without the record syntax, but I can deal for now.

[2019-08-14 00:51] dmjio opened #520 "console.warn on consecutive text nodes"
When detecting sibling text nodes, `console.warn` the DOM and VDOM may not be in synchrony.

[2019-08-14 14:50] bjaress opened #521 "Build failure during quick start instructions"
**Describe the bug**
Build failure during quick start instructions

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the quick start instructions
2. Include the optional steps
3. On "nix-build" step

**Expected behavior**
Sample app built

**Actual Error**
[code]

Adding `--show-trace` gives:

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser: Non

[2019-08-14 15:18] dmjio commented on #521
I can't reproduce on version 1.0 and 1.1. Can you paste the exact commands that you ran?

[2019-08-14 15:26] bjaress commented on #521
[code]

[2019-08-14 15:29] dmjio commented on #521
@bjaress can you paste all of the build output in a gist.

[2019-08-14 15:32] bjaress commented on #521
Sure.  I'll have to remove everything and start over to get all the output (nix wants to pick up where it left off) but I can do that tonight.  Thank you for looking into it.

[2019-08-14 15:44] dmjio commented on #521
Ok cool, thanks for looking into this. Can you paste which version of nix you have as well. `nix —version`

[2019-08-15 04:17] bjaress commented on #521
I think reinstalling nix helped.  At least, it's doing a lot more now.  It might not finish until tomorrow, but it looks promising.

[2019-08-15 05:05] dmjio commented on #521
@bjaress it shouldn’t take longer than a few minutes if the cache is working properly to copy all of the binaries locally. Sometimes the cache does down though. Do you see a lot of, “Copying from ... haskell-miso.cachix.org” ?

[2019-08-15 11:07] bjaress commented on #521
I did see some of that at the beginning, but then it spend a few hours compiling things I was a little surprised it needed to compile, like gcc, libc, and Perl.   I don't really know much about nix, so I figured it knew what it needed, but then it eventually failed.

I started over again, this time reinstalling nix *and* deleting /nix, and if failed much sooner with:

[code]

[2019-08-15 12:03] bjaress commented on #521
https://gist.github.com/bjaress/bf0f76e5f836eec2d508f0dfda1158bd

[2019-08-16 12:23] manveru commented on #521
Just hit the same issue. You can easily fix that yourself by replacing the hash in the `sample-app/default.nix` file. It's mysterious though why the hash of that tarball would change.

[2019-08-16 13:59] dmjio commented on #521
Should be fixed in https://github.com/dmjio/miso/commit/adea0fa4a1d66f6a688538cc79d915c612fd38ad

I had specified the hash to an older version of miso which was not related to the revision. Nix doesn't compare the revision to the hash, just simply trusts the hash is what I wanted, fetched from my local cache, and used that version of miso. For users who do not have miso cached locally at that hash

[2019-08-16 13:59] #521 closed

[2019-08-16 14:54] bjaress commented on #521
Thank you!

[2019-10-03 17:01] razvan-flavius-panda opened #529 "cachix use miso-haskell - MustBeRoot error"
**Describe the bug**

When I run: `cachix use miso-haskell` I get an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `cachix use miso-haskell`
2. Outputs: `MustBeRoot "Run command as root OR execute: $ echo \"trusted-users = root $USER\" | sudo tee -a /etc/nix/nix.conf && sudo pkill nix-daemon"`

**Expected behavior**

I expect it to work...

**Desktop (please complete the followi

[2019-10-03 17:20] razvan-flavius-panda commented on #529
Closing since I created ticket under cachix repo: https://github.com/cachix/cachix/issues/242

[2019-10-03 17:20] #529 closed

[2019-10-05 11:42] soywod opened #530 "nix-build sample-app fails"
**Describe the bug**

I can't `nix-build` the sample-app.

**To Reproduce**

1. Install nix via curl: `curl https://nixos.org/nix/install | sh`
2. Follow steps described in the [begin section](https://github.com/dmjio/miso#begin) of the README.

**Logs**

[code]

**Desktop:**

[code]

[2019-10-05 11:50] dmjio commented on #530
@soywod I can't reproduce this on OSX or NixOS. Did you run `cachix use miso-haskell` ? Fetching from the cache will be much faster than building from scratch.

[2019-10-05 11:56] soywod commented on #530
Wow thanks for the quick answer. Yes I ran all the commands in the README:

1. `nix-env -iA cachix -f https://cachix.org/api/v1/install`
2. `cachix use miso-haskell`
3. `git clone https://github.com/dmjio/miso`
4. `cd miso/sample-app`
5. `nix-build`

Am I missing sth?

[2019-10-05 12:09] dmjio commented on #530
Looks right. To be honest, I've never tried this on Arch. Only OSX, Ubuntu, NixOS. Going to install Arch via vagrant / virtual box and give it a go.

[2019-10-05 12:16] dmjio commented on #530
So, I wasn't able to reproduce the error on this version of Arch.
[code]

My thought is that the cache is not being recognized. Can you cat what's in `~/.config/nix/nix.conf`?

Mine looks like:
[code]

Fetches all the deps. via the cache. `these paths will be fetched (236.58 MiB download, 3276.00 MiB unpacked):`
[code]

final result:
[code]

[2019-10-05 12:56] soywod commented on #530
[code]

[2019-10-05 14:31] soywod commented on #530
Worked after a system upgrade :tada: (just ran `sudo pacman -Syu`). Now my config is:

[code]

Thank you for your help!

[2019-10-05 14:31] #530 closed

[2019-10-14 22:08] voidus opened #533 "nix-build doesn't work with package.yaml"
**Describe the bug**
When using an hpack `package.yaml` instead of a plain cabal file, nix-build fails. As far as I can tell it tries to install an outdated version of hpack, in turn trying to compile an old version of network, which fails. The complete output is at https://github.com/voidus/miso-hpack-error/blob/master/error.

I guess this probably isn't miso's fault, but I'm totally overwhelmed

[2019-10-14 22:15] dmjio commented on #533
The issue I believe is that it's attempting to compile `hpack` with `ghcjs`, I had to work around something like this. I can look at it more tonight.

[2019-10-15 00:34] dmjio commented on #533
@voidus,

Try this:

[code]

I'll add this to miso's overrides.

[2019-10-15 00:47] dmjio commented on #533
In fact, you only need this now.

[code]

sorry about the inconvenience !

[2019-10-15 00:48] #533 closed

[2019-10-15 11:13] voidus commented on #533
Thank you so much for the quick fix 🥰

[2019-10-15 18:00] razvan-flavius-panda opened #535 "Live reload documentation"
It would be very useful to have a few lines documenting in layman's terms how to use the live reload functionality of Miso.

[2019-10-21 11:45] dmjio commented on #535
https://github.com/dmjio/miso/commit/1b8ce46b6a3ef9761b3aac67a64ee12d5df9b114

[2019-10-21 11:45] #535 closed

[2019-11-16 22:50] dmjio opened #549 "Release miso.js on NPM"
Package `jsbits/` up and release it standalone.

[2019-12-01 15:22] jhrcek opened #551 "Readme instruction about building examples seem to be out of date"
**Describe the bug**
The https://github.com/dmjio/miso#building-examples secion of readme seems out of date.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps from the building examples section.
2. `tree -d result/bin/` results in
result/bin/
├── simple.jsexe
└── tests.jsexe

**Expected behavior**
All of the examples should be built and appear under the `result/bin` folder

**

[2019-12-01 17:09] dmjio commented on #551
https://github.com/dmjio/miso/commit/1fe0dab487af00c864bbbe3dc0756df5b43b794d

[2019-12-01 17:09] #551 closed

[2019-12-01 18:46] jhrcek commented on #551
Thank you for the quick fix :+1:

[2019-12-29 17:38] DavidEichmann opened #555 "Websocket Closed Unexpectedly"
**Describe the bug**

I'm working on a project using websockets to communicate between backend and frontend. When navigating around the site, quickly the WS connection is closed and chrome complians `WebSocket connection to 'ws://localhost:8080/' failed: Invalid frame header`. I'm using miso with jsaddle + chrome. Note that there are 2 WS connections: one to connect to my backend and another used

[2020-01-03 02:32] thenomemac opened #556 "Clarify "production-ready""
The readme cites miso as being production ready. Can there be some clarity on what that means? Is the API stable, is anyone using it in production, ect?

Context: I'm considering using miso for a new side project, the alternative being hallogen, and I'm wondering how far an app has made it towards production with miso.

FYI: the README for miso is awesome. The live example URLs are amazing. Thanks

[2020-01-03 02:53] dmjio commented on #556
Miso is used in production by a variety of companies, publicly listed are: https://github.com/dmjio/miso/blob/master/README.md#commercial-users

But many other companies that are not listed, are also using it, be it for internal applications, billabel client projects or open source projects.

"Production-ready" means a project is believed to be ready for production use (commercial clients). This c

[2020-01-03 03:18] thenomemac commented on #556
Thanks for the thoughtful reply. I'm curious what is meant by:

Are you saying that you can somehow "re-target" the compilation of miso apps to/in other languages or that the framework "concepts" can be more or less ported as a re-write to another language.

[2020-01-03 03:23] dmjio commented on #556
The latter, as long as the language allows for calling into js (specifically miso's `diff.js`), and construct js objects, miso can be released as a DSL in any other language with minimal work.

[2020-01-03 03:38] thenomemac commented on #556
Very interesting. Two questions.

- Do you want me to take a stab at adding a "production-ready" section to the readme highlights some of what you stated in the issue.
- The idea of miso.js sounds interesting... is the goal just to implement miso in JS because you are familiar with the api and believe it's superior to other JS frameworks. Or does miso.js somehow tie back to the haskell variant in

[2020-01-03 03:53] dmjio commented on #556
Wouldn't be opposed to more documentation, ever.

https://krausest.github.io/js-framework-benchmark/current.html will show `misojs` and `miso` benchmarks, you can see the overhead Haskell-to-JS interop introduces.

[2020-01-03 04:31] thenomemac commented on #556
So will misojs be usable from Haskell via.bjndings or a js only framework?

[2020-01-03 04:33] dmjio commented on #556
`miso.js` would be a light wrapper around `diff.js` and friends. The Haskell version of miso just calls into `diff.js` and friends directly.

[2020-01-03 15:37] thenomemac commented on #556
Do you envisioning misojs becoming a primary way to use miso or is it going to potentially make Haskell users able to call parts of a miso written JS and vice versa.

[2020-01-03 18:59] dmjio commented on #556
It won't replace the Haskell version of miso, but it would allow JS devs to have their own version of miso that behaves just like the Haskell version. Haskell version can already call parts of miso written JS, that's exactly what it does internally.

[2020-01-04 21:20] #556 closed

[2020-02-08 01:24] dmjio commented on #555
I think this issue might be better suited for jsaddle's repo.

[2020-03-25 01:14] dmjio commented on #492
solved in https://github.com/dmjio/miso/commit/7881ce9364beb00b017996b6f9e777284e6adcd5

[2020-03-25 01:14] #492 closed

[2020-03-28 10:33] itmuckel opened #568 "miso for every OS"
Hey guys! I debugged this the whole night (what is a nix build? cachix needs certificates?) and slept approx. 4 hours, but I got miso running under Windows through docker. And if it runs on Windows it probably runs everywhere else. 😃

0. On Windows and Mac open your docker settings and increase the Memory and Swap (I use Memory=6GB and Swap=2GB), otherwise the container will be killed when exceedi

[2020-03-28 12:50] itmuckel opened #569 "Custom Index.html?"
The threejs example uses a custom index.html where other js libraries are included. On the other hand when building the miso/sample-app, an index.html is generated together with a few js files. Where does this html file get put together?

The threejs example has an index.html next to the Main.hs and the index.html seems to get used. I couldn't find any flag in the cabal file that seems to do this.

[2020-03-28 12:56] dmjio commented on #569
GHCJS generates a default index.html for each build. I don't believe there is a way to change its contents via the cabal file. I've gone ahead and manually updated it. Important to note is that your updates to the `index.html` should be preserved across calls to `cabal build`. So the best way to include external JS is to update the `<head>` section of `index.html` to include a `<script>` tag to th

[2020-03-28 13:36] dmjio commented on #568
***Awesome*** work 👍 ! We should add this to the `miso` repo in a `docker` folder along with the instructions you've defined here. We can then reference the `docker/README.md` from the main `README.md`. Would you like to make a PR? If you need to catch up on sleep first I understand :)

[2020-03-28 14:19] dmjio commented on #568
@itmuckel feel free to join our slack as well https://haskell-miso-slack.herokuapp.com/

[2020-03-28 16:44] itmuckel commented on #568
Hmmm, did something change in the last hours?

I now get:
[code]

[2020-03-28 19:18] itmuckel commented on #568
@itmuckel the solution was to call `cabal configure --ghcjs`. Closing this as the dockerization is now part of this repo.

[2020-03-28 19:18] #568 closed

[2020-03-29 19:55] #569 closed

[2020-04-04 14:43] itmuckel opened #571 "The XHR example seems broken"
**Describe the bug**
When using https://xhr.haskell-miso.org and clicking "Fetch JSON...", nothing happens and the browser console shows:
[code]

**Expected behavior**
Seeing some data

**Desktop (please complete the following information):**
 - OS: Windows 10 64bit
 - Browser Firefox
 - Version 74

[2020-04-04 15:02] dmjio commented on #571
https://github.com/dmjio/miso/commit/456be785bd70115d793cb3e59bd045204f9978ef

[2020-04-04 15:02] #571 closed

[2020-04-07 21:27] jumper149 opened #573 "Change documentation link of "line_" and "textPath_" in "Miso.Svg.Element""
https://github.com/dmjio/miso/blob/f123e2b55da743117f8802384969d59b8d96d70d/src/Miso/Svg/Element.hs#L137

The documentation of `Miso.Svg.Element.line_` links to the documentation of `image`.

[2020-04-07 22:16] jumper149 commented on #573
https://github.com/dmjio/miso/blob/f123e2b55da743117f8802384969d59b8d96d70d/src/Miso/Svg/Element.hs#L254

Here is another mistake with `Miso.Svg.Element.textPath_`'s documentation.

[2020-04-07 22:43] jumper149 commented on #573
... and here are weird underscores breaking the link:

https://github.com/dmjio/miso/blob/f123e2b55da743117f8802384969d59b8d96d70d/src/Miso/Svg/Element.hs#L129

[2020-04-07 22:55] dmjio commented on #573
@jumper149 yea, a lot of the documentation additions were ad-hoc. I'd gladly accept a PR with the fix if you're so inclined.

[2020-04-09 02:24] #573 closed

[2020-04-09 02:25] dmjio commented on #573
https://github.com/dmjio/miso/commit/68c59190ff14de7d4d90f2f1a37e27ba1e80610a

[2020-04-09 02:32] jumper149 commented on #573
I was just about to make a pull request myself^^

Thank you for caring about the docs :)

[2020-04-09 02:42] dmjio commented on #573
you're welcome :)

[2020-04-13 08:17] razvan-flavius-panda commented on #272
Is it necessary to use `MisoString` instead of `Text` for displaying  it in the UI?

[2020-04-13 13:23] FPtje commented on #272
Miao functions use `MisoString` because it is an alias for `JSString`. It makes sense to use those because they are more performant.

[2020-04-22 00:19] DKuhse opened #578 "Input field diverging from model value"
When a user enters a character into an input field, if the update doesn't modify the value the input field diverges from the model since its default behavior isn't suppressed and its value isn't getting reset.

Example code:
[code]
In e.g. Elm an equivalent program would prevent the text in the input field from exceeding 5 characters, but the above program only restricts the model and not the inpu

[2020-04-22 00:30] dmjio commented on #578
What happens if you do this

[code]

[2020-04-22 01:01] DKuhse commented on #578
Sorry, that's just a mistake in my example.
[Here](https://user-images.githubusercontent.com/53220051/79929201-5e6c7f00-8445-11ea-8c3d-c5695241f5e5.png) is a screenshot of what the (corrected) example looks like for me in action.

[2020-04-22 02:39] dmjio commented on #578
I see what's happening, in the `val > 5` case, since the model isn't changing, a redraw doesn't spawn. So the `value_` property is never updated, causing a loss of synchrony between the input element and the model state.

One thing you could do is to force the redraw by always failing the `Eq` check.

[code]

This is kind of a hack. Miso's model diff check is to keep miso from generating a new tre

[2020-04-22 13:36] dmjio commented on #578
I will check out how Elm does this and get back to you..

[2020-04-22 19:46] dmjio commented on #578
@DKuhse, In the meantime, did the suggestions I pasted above work for you?

[2020-04-22 20:52] DKuhse commented on #578
Sadly, I haven't been able to get it working with either of them (or both combined). Even if I add a class attribute to the node, only the attribute gets updated.

If it's of any relevance, a bit of testing seems to confirm the assumption that it affects all input elements e.g. the same behavior applies to radio buttons and color pickers.

[2020-04-22 22:55] dmjio commented on #578
@DKuhse so this case is hitting an optimization in the diffing algorithm that omits the update on the input value state (Due to the old and new DOM being equivalent).

Given the code you pasted, if you hit the `'d'` key more than 5 times, a diff will occur each time. In the case of the 6th 'd' press, the old vdom props and new vdom props will be the same (because of the `filter` call) and the `con

[2020-04-22 23:07] dmjio commented on #578
@DKuhse let me know if this doesn't work for you, but my initial tests locally have been fruitful.

[2020-04-23 17:44] DKuhse commented on #578
Yes, it's working great now, thank you. I'm sorry I took so long to respond, but due to my rather limited nix knowledge I at first wasn't sure how to proceed after building miso, since I was unable to find a way to point the fetch at the local library, but simply building it using cabal worked.

[2020-04-23 17:44] #578 closed

[2020-04-23 20:14] dmjio commented on #578
@DKuhse glad to hear, and thanks for bringing this issue to our attention. Anything else you uncover, would be very grateful to see.

[2020-05-17 07:55] dmjio commented on #555
Closing as related to jsaddle.

[2020-05-17 07:55] #555 closed

[2020-05-21 17:12] dmjio commented on #518
This should be a full example of integrating miso with `Servant.API.Generic`.

[code]

[2020-06-03 18:15] niteria opened #585 "br_ breaks miso-isomorphic example"
Thanks for this framework, I had a lot of fun playing with it.

**Describe the bug**
If I use the `br_` function in the template there's an exception in the browser console and the app doesn't respond to anything.

**To Reproduce**
Steps to reproduce the behavior:
[code]
The message from the console:
[code]

If I look in the source I get:
[code]

**Expected behavior**
I expect the original app to

[2020-06-03 18:31] dmjio commented on #585
Thanks, I'll check it out.

[2020-06-03 20:51] dmjio commented on #585
`<br></br>` is invalid HTML and rendered as two `<br>` tags in modern browsers. See https://validator.w3.org/ for example. This would break synchrony between client and server. Onus is on the user to get this right.

[2020-06-03 20:52] dmjio commented on #585
Whoops, didn't mean to close. @niteria if miso's `ToHtml` instance on `View`, on the `GHC` side is rendering in this way, that is a bug.

[2020-06-03 20:56] dmjio commented on #585
[code]

@niteria you found a bug, congrats 🎉

[2020-06-03 21:49] niteria commented on #585
As a follow-up, I run into server-rendering-different-than-client bugs quite often, mostly because of bad logic on my part and occasionally because `Network.URI` generated by routes differ between the server and the client.

It'd be nice if the `Miso.miso` function used for isomorphic apps had a version that did some sanity checking and helped narrow down the differences.

Also, correct me if I'm

[2020-06-03 22:18] dmjio commented on #585
You should make an issue for this, definitely.

[2020-06-03 23:32] niteria opened #587 "Route Network.URIs inconsistent between server and client in isomorphic example"
**Describe the bug**
This is similar to https://github.com/dmjio/miso/issues/585.
If I modify the view code to use `Show Network.URI` instance the application hangs on start up.
Change for reference: https://github.com/niteria/miso-isomorphic-example/commit/3e9eaa41c9943db01d8d088d8a00391181d80c1d

**To Reproduce**
Steps to reproduce the behavior:
[code]

Message from the browser console:
[code]

[2020-06-03 23:45] niteria opened #588 "Diagnostic info when Miso.miso fails"
**Is your feature request related to a problem? Please describe.**
This is based on my experience diagnosing #585 and #587.

When a framework user makes an error and the view renders inconsistently between the server and the client in an isomorphic app the only feedback that the user gets is some errors in the console.

From my short experience, it's quite easy to introduce such a bug, so it'd be

[2020-06-03 23:54] dmjio commented on #585
https://github.com/dmjio/miso/pull/586

[2020-06-03 23:54] #585 closed

[2020-06-04 01:57] niteria opened #589 "Empty text nodes seem to cause problems in isomorphic Miso"
**Describe the bug**
I have an example where changing `""` to `" "` makes a difference between the app working and a crash in a browser.

Here's a crashing version: https://github.com/niteria/miso-isomorphic-example/commit/a22975c537e9edd9ca4b236d3ee132c4340f3c06
Here's a patch that makes it work: https://github.com/niteria/miso-isomorphic-example/commit/22ebdaa47d0830a0131afa1130557f273e60d656

*

[2020-06-04 02:16] niteria commented on #589
I worked around the problem in my app by using `"\8204"` instead of `""`. That's https://en.wikipedia.org/wiki/Zero-width_non-joiner.

[2020-06-04 06:08] dmjio commented on #589
Yea, the issue here being that the browsers HTML parser cannot distinguish between multiple sibling text nodes and a single text node. It will collapse sibling text nodes into a single text node causing copyDOMIntoVTree to fallback to redrawing the entire view. There is a way to attempt to recreate the DOM as miso sees it and then perform the copy, but it is in a separate branch.

Sent from my iPh

[2020-06-04 08:36] dmjio commented on #585
@niteria can you do me a favor and just double-check this is resolved per your example.

[2020-06-04 12:11] niteria commented on #585
Sure, retested it and it works.
For reference https://github.com/niteria/miso-isomorphic-example/tree/with_br_retest is a branch that uses today's master.

[2020-06-04 20:29] niteria commented on #589
Is there an empty `View action`? One that renders to nothing?

Then I could have:
[code]

[2020-06-04 20:33] niteria opened #590 "Is there a way to insert HTML entities?"
**Is your feature request related to a problem? Please describe.**

Is there a way to insert HTML entities like `&nbsp;`?
I think for most things I can use Unicode, but for completeness, it'd be nice to be able to use entities.

[2020-06-04 20:35] niteria commented on #590
Looks I didn't search the issues hard enough the first time, Unicode is recommended.
https://github.com/dmjio/miso/issues/31

[2020-06-04 20:35] #590 closed

[2020-06-04 22:50] dmjio commented on #589
`empty :: View action = text mempty` would be the closest thing. But this will not render nothing, it will call `document.createTextNode ('')`

[2020-06-05 02:43] dmjio commented on #585
awesome :) I'll try to release a new version

[2020-06-06 23:33] dmjio commented on #588
@niteria it should fallback to rendering everything if it determines the view can't render, and `warn` about doing so.

https://github.com/dmjio/miso/blob/master/jsbits/isomorphic.js#L6

Which version of miso are you using?

[2020-06-07 01:14] niteria commented on #588
I'm a bit confused then.
The reproducer for #585 used miso `1.5.2` which has an exact same definition for that function.

If I understand correctly the only problem there was that the server sent HTML that was interpreted as two `<br>` tags instead of one. But the console didn't print `"Could not copy DOM into virtual DOM, falling back to diff"` and the app crashed in the `walk` function.

I see t

[2020-06-07 01:34] niteria commented on #588
I see that we ignore the return value of `walk` here https://github.com/dmjio/miso/blob/master/jsbits/isomorphic.js#L50, is that intended?

[2020-06-07 02:05] dmjio commented on #588
https://github.com/dmjio/miso/commit/55ef457655f4ceefecef74ee3c1e381272a85768

[2020-06-07 02:48] dmjio commented on #466
https://github.com/dmjio/miso/commit/70bf9aa9aec0467ca551c366a3e4c19f99db6a02

[2020-06-07 02:48] #466 closed

[2020-06-07 17:37] dmjio commented on #589
@niteria, thought of an idea to fix this. Before rendering the virtual DOM to the actual DOM, we can have a preprocessing step that collapses all sibling text nodes. We could do this on the server as well just to be consistent. This would solve the problem at the cost of some speed, I believe.

[code]
becomes

[code]

[2020-06-07 18:11] niteria commented on #589
Makes sense to me.

[2020-06-08 16:59] dmjio commented on #589
@niteria would you care to test your changes against this [PR](https://github.com/dmjio/miso/pull/591) ? Would be very helpful for review.

[2020-06-08 17:00] dmjio commented on #520
https://github.com/dmjio/miso/pull/591

[2020-06-08 17:00] #520 closed

[2020-06-09 16:23] niteria commented on #589
Just tested, your PR fixes the issue, the app works and no errors in the console.

[2020-06-09 17:13] dmjio commented on #589
Wow, that's wild. Incredible news.

[2020-06-11 09:58] dmjio commented on #589
@niteria just to humor me, can you confirm that when the HTML differs, it doesn't crash, but falls back to redrawing from scratch.

[2020-06-11 09:59] dmjio commented on #589
After this I think we can merge.

[2020-06-11 10:07] niteria commented on #589
I may not get to this today. In case you want to test it sooner, changing the version of miso that the reproducer uses is as easy as editing those two lines https://github.com/niteria/miso-isomorphic-example/blob/empty-text-node-problem/nixpkgs.nix#L8-L9

[2020-06-12 15:46] niteria commented on #589
I used the `Show URI` instance to produce the differences between server and client on this branch https://github.com/niteria/miso-isomorphic-example/tree/empty-text-node-problem-test-pr-591 and unfortunately it fails.

If I press the `+` button nothing happens, and the `-` button throws:

[code]

[2020-06-12 16:52] dmjio commented on #589
To confirm you are using the `miso` function and not `startApp`

[2020-06-12 16:56] niteria commented on #589
Sure https://github.com/niteria/miso-isomorphic-example/blob/a927906919c549c36cd36fd6dfad0a6127f387aa/client/Main.hs#L21

[2020-06-12 17:02] dmjio commented on #589
It should be hitting this line and falling back to a full redraw https://github.com/dmjio/miso/blob/master/jsbits/isomorphic.js#L5

It seems like the copy is silently failing, and then in subsequent diffs the orphaned nodes are referenced.

[2020-06-12 19:04] dmjio commented on #589
@niteria to confirm, you never see this printing to the console.
```js    console.warn('Could not copy DOM into virtual DOM, falling back to diff');```

[2020-06-12 19:37] niteria commented on #589
Correct, that never appears.

[2020-06-13 19:34] dmjio commented on #589
@niteria I believe I found the issue.

1) If the DOM node being walked is undefined, we should prematurely exit. This led to bad bugs in the console.

2) If the DOM node and VDOM differ, we should diff from the `node.parentNode`, not the `node`.

https://github.com/dmjio/miso/pull/591/files#diff-d5e8e95fc1986e4d2b3b8f9714f57092R21

I think it should work now.

[2020-06-13 20:20] niteria commented on #589
I rerun it https://github.com/dmjio/miso/commit/936ce48eb8ec33024de8c5ea8d1832654a41e595 and I still get the same behavior as https://github.com/dmjio/miso/issues/589#issuecomment-643344205.

Here's the commit if you want to run it yourself https://github.com/niteria/miso-isomorphic-example/commit/2acef35b2aa97311cedb8e69ac2191347e79e0ed

[2020-06-13 20:33] niteria commented on #589
This change makes the fallback "work" for me: https://github.com/niteria/miso/commit/36a0f00a75d21e47d3cd94ccb804de306b07aec7

I say "work" because I get the fallback message. Unfortunately the old DOM is no removed so I get this:

![Screenshot_20200613_223251](https://user-images.githubusercontent.com/212146/84578475-d6ac4c80-adc5-11ea-8353-5bd8f0766ff5.png)

[2020-06-13 20:52] dmjio commented on #589
@niteria, sorry I forgot to add back the code that does the `domRef` copying, hence why we see `undefined`s.

[code]

[2020-06-13 20:57] niteria commented on #589
These two changes on top of your work make it work perfectly for me https://github.com/dmjio/miso/compare/collapse-siblings...niteria:collapse-siblings

[2020-06-13 21:24] dmjio commented on #589
@niteria Nice, I've added your changes, and incorporated some error logging, `diagnoseError`, to log when the `vdomChild` and `domChild` aren't the same. Hopefully this will be more helpful to users.

[2020-06-13 21:42] niteria commented on #589
![Screenshot_20200613_234141](https://user-images.githubusercontent.com/212146/84579620-74584980-adcf-11ea-92ba-c400e2658794.png)

Awesome, that covers #588 as well.

[2020-06-13 21:48] dmjio commented on #589
Sweet, I think we should add a `debug :: Bool` to the `App` constructor to top this off. This way users can hide these notifications. Sound good?

[2020-06-13 21:48] dmjio commented on #589
This is technically the pinnacle of `miso` (play on isomorphic), so best to get it right, and be able to debug when its not :)

[2020-06-13 21:51] niteria commented on #589
Works for me. On the other hand, the "falling back to diff" message is printed unconditionally when there's a difference, so I wouldn't mind the same happening with the "VTree differed..." message.

[2020-06-13 22:25] dmjio commented on #589
Will add this as well. Technically, we no longer need the `startApp` function, since `miso` can handle it all.

[2020-06-14 13:17] niteria opened #594 "Miso and jsaddle friendly wrapper around XHR"
**Is your feature request related to a problem? Please describe.**
Currently, the Miso's XHR example can't be used directly with `jsaddle`, because it uses `JavaScript.Web.XMLHttpRequest` which comes from `ghcjs-base` which is JSFFI only.

**Describe the solution you'd like**
There's an alternative that supports both `jsaddle` and JSFFI which is https://hackage.haskell.org/package/ghcjs-dom. Unfor

[2020-06-14 13:42] niteria commented on #594
Perhaps the way to approach this is in Miso-agnostic way and reimplement the `JavaScript.Web.XMLHttpRequest` API with `ghcjs-dom` and release it as a separate library.

Feel free to close this if you consider it out of scope.

[2020-06-14 15:01] DoctorRyner commented on #594
Oh, I implemented something like this a while ago. On a basic level though

[2020-06-14 15:38] DoctorRyner commented on #594
I made 3 packages:

1. https://github.com/DoctorRyner/miso-spa

It allows you to quickly set up your application for development. In opposite to `jsaddle-warp`'s `run` and `debug`, `Miso.SPA.Server.{run,debug}` redirect every request to root and serve static content in a `static/` folder. It also has some helpful data structures and function to use in miso

2. https://github.com/DoctorRyner/miso-h

[2020-06-14 16:47] niteria commented on #594
@DoctorRyner

https://github.com/DoctorRyner/miso-http/blob/master/src/Miso/Http.hs looks good enough for my needs, I will try to use it, thanks!

If I have any patches should I send them your way or just create a fork?

[2020-06-14 17:03] dmjio commented on #594
There’s also servant-client-ghcjs and servant-client-jsaddle

Sent from my iPhone

[2020-06-14 17:17] DoctorRyner commented on #594
I guess creating a fork would be a better option

[2020-06-15 22:18] niteria commented on #594
I went with https://github.com/haskell-servant/servant-jsaddle because it integrates nicely with servant.
There's one little thing I had to fix to get it working https://github.com/haskell-servant/servant-jsaddle/pull/4.

If anyone is going this route https://github.com/DarinM223/miso-fullstack is worth checking out. It bypasses CORS issues that arise because `jsaddle` runs on a different port tha

[2020-06-15 22:18] #594 closed

[2020-06-16 02:01] niteria opened #596 "style element"
**Is your feature request related to a problem? Please describe.**
Now that I can run isomorphic apps with `jsaddle`, it'd be convenient for me to be able to add a style tag in the file that generates HTML that's used by both the client and the server.

I thought `<style>` inside `<body>` is disallowed, but apparently the world has moved on and it's part of HTML 5.2: https://stackoverflow.com/a/50

[2020-06-16 02:06] dmjio commented on #596
@niteria, Sure, make a PR I'll accept, can we name it `style_` though?

[2020-06-16 02:12] niteria commented on #596
I thought there was a name collision with some other `style_`, but maybe there isn't. I will give it a try.

[2020-06-16 03:15] dmjio commented on #596
`style_` is an attribute, so it won't conflict, but you'll have to hide the element `style_` when re-exporting, otherwise the symbols will collide.

[2020-06-16 03:21] dmjio commented on #596
to use it you'd have to do
[code]

[2020-06-16 13:58] niteria commented on #596
Ok, I confirmed my concerns with escaping problems in my stopgap solution.

If I use:
[code]
The server will render that as:
[code]

And the browser doesn't understand that.

Lucid (outside `miso`) deals with that by using `TermRaw` instead of `Term`: https://hackage.haskell.org/package/lucid-2.9.12/docs/src/Lucid.Html5.html#style_ for the `style_` element. The effect is that Lucid doesn't try to

[2020-06-16 14:03] niteria commented on #596
It sounds pretty invasive, maybe `style_` should be explicitly not supported.

There's probably a way to tell `jsaddle` to attach some styles, it would solve my original problem. I will have a look.

[2020-06-16 16:15] niteria commented on #596
Ok, it was quite easy to make `jsaddle` add my css:

[code]

That means I don't need this feature right now, but I'd be happy to implement if we agree on the approach.

[2020-06-18 23:35] niteria opened #597 "sample-app-jsaddle doesn't work under Firefox"
**Describe the bug**
If you build the `sample-app-jsaddle` app and open it in `Firefox` the app will hang, loop sending many XHR requests and you get `Error : Unexpected Duplicate. syncCallbacks=True nBatch=4 nExpected=6` on `stdout`.

This is not really an issue with `miso`, but with `jsaddle`. `miso` is triggering https://github.com/ghcjs/jsaddle/issues/64

I'm opening this because I think this

[2020-06-20 10:35] niteria commented on #597
Fixed by afe2536b08c7bea5267b1e7b0121c786209dcd77

[2020-06-20 10:35] #597 closed

[2020-06-21 14:34] kahlil29 opened #599 "Error while using (html) file input on Safari (13.1.1)"
**Describe the bug**
Html file input does not work in Safari (throws an error in the console, when inspected)
The file picker dialog opens up and allows you to pick a file but then after that throws an error :
[code]
The same code/page works fine on Chrome and Firefox

**To Reproduce**
Use a file input like:
[code]

**Expected behavior**
There should not be an error (the program should run fine)

[2020-06-21 16:40] dmjio commented on #599
@kahlil29 yea it should be fixed in `1.5.2.0`, https://github.com/dmjio/miso/commit/f4cc27ec877c0ef53954532e1047ca861dbbc86a. Can you call `ghcjs-pkg list miso` and see which version you're on?

[2020-06-21 17:07] kahlil29 commented on #599
@dmjio It returns a `command not found`.
I'm a bit new to nix, but I've installed everything through `nix` based on the instructions in the README.
Is there any other command I can run to verify the version of miso?

[2020-06-21 17:18] kahlil29 commented on #599
Okay I managed to do it after getting into `nix-shell`
It's `1.3.0.0`
I'm guessing I can specify a specific version in the cabal file right? Let me try to do that.

[2020-06-21 17:52] dmjio commented on #599
@kahlil29 we'll probably need to update your hash of miso in nix, this will pull in the latest version.

[code]

[2020-06-21 17:52] dmjio commented on #599
I'll bump the docs to reflect this.

[2020-06-21 17:56] kahlil29 commented on #599
Ah yes yes, apologies. I'm quite the `nix` noob.
It works now, thanks a lot @dmjio
It's really nice and refreshing when library authors and maintainers are super prompt and helpful 😄
Also I've wanted to use Miso for almost 2+ years now and finally got into it for a small project at work.
It's quite good, so far 🎉  Great effort and keep it up!

Let me know if you need any help with that docs/README

[2020-06-21 17:56] #599 closed

[2020-06-21 18:03] dmjio commented on #599
@kahlil29 Awesome. Thanks for the kind words :) glad to hear you're using it at work. Would love to have you (and your coworkers) in the commit history. If you wanted to update the `README.md` and sample app nix files to reflect the latest miso hashes and rev I'd gladly merge.

[code]

[2020-06-21 18:33] kahlil29 commented on #599
@dmjio That would be great. Will make the changes and raise the PR 👍

[2020-06-23 19:07] dmjio commented on #596
I'd be ok with introducing `VTextRaw` to the `ghc-src` and a `styleRaw_` combinator that uses it. Will need to update the `ToHtml` instance server-side.

[2020-06-23 19:17] niteria commented on #596
I'll take a stab at it once #591 is merged as I expect this to have some interplay with text node collapsing.

[2020-06-24 04:50] dmjio opened #600 "LogLevel granularity"
Per #591, `LogLevel` has been added, and allows us to see internal pre-rendering. It would be nice if we could support more logging modes, along with logging of events.

[2020-06-24 13:10] dmjio commented on #596
should be good to go :)

[2020-06-25 15:13] dmjio commented on #589
#591

[2020-06-25 15:13] #589 closed

[2020-06-25 15:14] #518 closed

[2020-06-26 12:20] rowanG077 opened #602 "Update Miso version in provided nix package"
**Describe the bug**
Due to https://github.com/dmjio/miso/pull/591 being merged, there now is a log level paramater in the `App`. The canonical [example](https://github.com/dmjio/miso#sample-application) and the other examples have been updated to include the log level. But the provided nix package doesn't include this change yet. This results in the quick start not compiling if a user follows the

[2020-06-26 13:34] rowanG077 opened #603 "Hot reloading support not working due to dependency error"
I can't get hot reloading to work. I'm following the[ jsaddle example](https://github.com/dmjio/miso/tree/master/sample-app-jsaddle). The release build works perfectly fine other then a warning about Haskell files not being in `other-modules` in the cabal file:

[code]

But running the reload script it cannot satisfy `ghcjs-base` dependency.

[code]

**To Reproduce**
Steps to reproduce the behavio

[2020-06-26 16:03] dmjio commented on #602
Thank you, will fix.

[2020-06-26 16:43] dmjio commented on #602
https://github.com/dmjio/miso/commit/1c6b8b4515909e98003b2ddb42b4b005cdf5e710

[2020-06-26 16:43] #602 closed

[2020-06-26 17:28] dmjio commented on #603
@rowanG077 can you try again, this time using the latest hash from master, I've bumped the rev in the nix scripts.

[2020-06-26 18:19] rowanG077 commented on #603
@dmjio I'm sorry this wasn't actually a problem on your side.

I added the `ghcjs-base` dependency because I want to call the `webserial` API. Is it possible at all to have live reload with miso/GHCJS? If I remove the GHCJS dependency I get errors that I can't use `foreign import javascript`.

[2020-06-26 18:24] dmjio commented on #603
I don't think its possible to use `foreign import javascript` statements with `jsaddle`, I believe you need to use `jsaddle` specific functions `jsg`, etc. Here's an example: https://github.com/dmjio/miso/blob/master/jsaddle-ffi/Miso/FFI.hs#L119

[2020-06-26 19:12] rowanG077 commented on #603
Thank you! This is can be closed. I will learn the JSaddle syntax instead of GHCJS FFI.

[2020-06-26 19:25] #603 closed

[2020-07-02 14:17] NerdGGuy opened #605 "Short-cutting nested (model -> View Action) (a.k.a. Components, Widgets, Gadgets)"
**Is your feature request related to a problem? Please describe.**
I currently have a very large (> 100mb) single page html app I'm rendering with lucid. I use custom javascript on the browser to hide/show content as needed. Despite many of the elements being hidden the re-rending process for pages this large is very slow in browser. I'm in the process of converting this app to Miso to reduce the

[2020-07-05 10:25] developandplay opened #606 "Multiple class_ or classlist_ attributes differ from ELM"
**Describe the bug**
I have run into the issue of applying multiple class_ or classlist_ attributes not working like in ELM. In Miso just one class/classlist attribute gets applied.

**To Reproduce**
Simple example:
`button_ [class_ "test1", class_ "test2"] []`
results in `<button class="test2"></button>`

**Expected behavior**
The [standard behavior](https://package.elm-lang.org/packages/elm/html

[2020-07-05 15:36] dmjio commented on #606
https://github.com/dmjio/miso/pull/607, this PR should fix that issue.

[2020-07-05 15:37] dmjio commented on #606
@developandplay porting material design components to miso would be awesome!

[2020-07-05 17:39] #606 closed

[2020-07-05 18:04] dmjio commented on #605
By default the view only gets redrawn when the model changes. The diffing algorithm ensures nothing is redrawn than hasn't been changed. This does mean that a new virtual DOM is created in memory each time the model has changed (which is relatively cheap). This does not mean a new DOM is created each time the model changes. If you can demonstrate a performance bottleneck I'd be keen to take a look

[2020-07-05 18:36] dmjio commented on #605
Also, I'd suggest not using `String`, but `MisoString`.

[2020-07-05 22:36] NerdGGuy commented on #605
TL;DR - I'm starting to think this change will only provide significant benefit for me in the worst case. How often that worst case is triggered is likely to be in the 1-10% range. So in the worst case I might just turn off view rendering all together. I'll report back once I have some more real world performance 👍 .

In my application the model is a large tree which is frequently > 100mb. The pro

[2020-07-06 20:28] developandplay opened #608 "Add static css and javascript to output html and jsaddle"
**Is your feature request related to a problem? Please describe.**
I'm currently loading css and javascript dynamically within Miso. However this approach does not work for Material Web Components that need to load javascript before Miso.

**Describe the solution you'd like**
A way to specify css and javascript files such that they will be static in the generated index.html or jsaddle.

**Describe

[2020-07-06 20:57] dmjio commented on #608
There is https://hackage.haskell.org/package/jsaddle-warp-0.9.7.0/docs/src/Language.Javascript.JSaddle.WebSockets.html#jsaddleAppWithJs

Sent from my iPhone

[2020-07-06 23:21] developandplay commented on #608
Thank you! As a beginner this now took me quite some time to figure out.
Is this something we could build a sample file for or add to the readme of `sample-app-jsaddle`?

In case anyone else stumbles across this problem:
First download the external javascript file (`your-file.js`) to your project directory.
Then add `bytestring` to `build-depends` in `app.cabal`.
In your `Main.hs`  you need to cha

[2020-07-06 23:24] dmjio commented on #608
We could add this to the documentation here:
https://github.com/dmjio/miso/blob/master/sample-app-jsaddle/README.md

[2020-07-07 01:42] developandplay opened #609 "Adding event handler doesn't work for custom events"
**Describe the bug**\
[Elms](https://package.elm-lang.org/packages/elm/html/latest/Html-Events#on) `on` function works with custom events while [Misos](https://hackage.haskell.org/package/miso-1.7.1.0/docs/Miso-Html-Event.html#g:1) `on` function only seems to work for some events.

**To Reproduce**
Steps to reproduce the behavior:
Attach the Attribute `on "myEvent" emptyDecoder$\()->action` to an

[2020-07-07 01:47] dmjio commented on #609
@developandplay `miso`'s `on` function only listens on the events that are delegated, by default that is what is in `defaultEvents`. If material has its own javascript, you will more than likely need to reimplement it in Haskell. Similar to what bootstrap react has done, reimplementing bootstraps js w/ react components.

[2020-07-07 02:07] developandplay commented on #609
I see...
While this re-implementation is definitely possible there would be two major drawbacks:

1. Currently I can currently simply reuse the elm-code (adjusted to Haskell and Miso) and javascript (original) from elm's material components (which includes Google's javascript). If I change the architecture that won't be possible to the same extent.
2. To be recognized as an [official implementatio

[2020-07-07 02:12] developandplay commented on #609
As an intermediate solution would it be possible to specify additional events to be delegated?

[2020-07-07 03:17] dmjio commented on #609
You can try adding google's events to the default map that miso has yes.

I would look at Elm's implementation and recreate each component like they have done.
https://github.com/aforemny/material-components-web-elm/tree/4.0.0/src/Material

[2020-07-07 08:40] #608 closed

[2020-07-07 09:37] developandplay commented on #609
Yes that's what I'm currently doing. So maybe I did a bad job at communicating that.
Here is where I have run into the issue:
https://github.com/developandplay/material-components-web-miso/blob/779bed32c49323226fb79adc7eb473b3f7dbe4dd/sample-app-jsaddle/Material/Dialog.hs#L118
Which corresponds to:
https://github.com/aforemny/material-components-web-elm/blob/c022599fcc3a9dc74e171151351b6d8e8da58d1

[2020-07-07 16:27] developandplay opened #611 "Create shorthand for style_ with single element Map"
**Is your feature request related to a problem? Please describe.**
The most common use case for `style_` seems to be setting one style property. When setting the style with Miso I always need to include Data.Map and write M.singleton.

**Describe the solution you'd like**
Add a second `style_` function with type `MisoString -> MisoString -> Attribute action` that works as a shorthand for `style_`

[2020-07-07 18:50] dmjio commented on #609
Can you try adding to `defaultEvents` https://github.com/developandplay/material-components-web-miso/blob/master/sample-app-jsaddle/Main.hs#L62

[code]

[2020-07-07 18:57] dmjio commented on #611
If you wanted to add

[code]

I'd accept.

[code]

[2020-07-07 18:59] dmjio commented on #605
100MB of anything in the browser will be difficult. I'd recommend pagination, or partial rendering by fetching incrementally from the server.

[2020-07-07 20:17] developandplay commented on #609
Great thank you!
With
[code]
the custom event works perfectly.

[2020-07-07 20:17] #609 closed

[2020-07-07 20:20] dmjio commented on #609
nice! @developandplay, looking forward to your project.

[2020-07-07 20:48] developandplay commented on #611
Great. I will figure out how to build the Miso project with my changes the next few days.
Currently I'm just using your .tar.gz...

[2020-07-08 17:46] dmjio commented on #611
`nix-build` should work.

[2020-07-19 11:40] jumper149 opened #616 "Environment differs unexpectedly when setting pkgs.haskell.packages.ghcjs86.override"
**Describe the bug**
I wanted to override some libraries for ghcjs in my default.nix.
This lead to `fromMisoStringEither` missing from my environment.

I then noticed this:
[code]

**To Reproduce**
To see all necessary changes I had to make to my project to compile it again, look here:
https://github.com/jumper149/go/compare/override-ghcjs

currently this is:
[code]

**Expected behavior**
I guess

[2020-07-19 12:21] dmjio commented on #616
This is more of a nix issue, but by adding your own overrides, all existing overrides are destroyed, including the addition of the most recent miso to nixpkgs. Nixpkgs by default includes an old version of miso, which is what you're seeing here. What I recommend you do is use the `overlays` argument importing miso's nixpkgs, this should be a more composable way to "overlay" changes to nixpkgs.

Yo

[2020-07-19 14:10] jumper149 commented on #616
I have written it as an overlay, but I still have the same problem, that the overrides from miso disappear (I get miso-0.21...) again.

`overlay.nix`:
[code]
When I uncomment the line that would override the ghcjs-packages, then nix starts testing again (this time I didn't manually disable tests).

`default.nix`:
[code]

Am I just missing something? I really don't know what else to try.

[2020-07-19 14:30] dmjio commented on #616
Can you try using `.extend` instead of `overrides = `.

[code]

[2020-07-19 15:21] jumper149 commented on #616
Well, this is weird, I tried
[code]
and it works (except for the fact that the ghc-8.6.5 doesn't include the overrides from miso).

But if I try it with
[code]
, then I get `attribute 'override' missing`:
[code]

[2020-07-19 18:29] jumper149 commented on #616
I have found a solution to this weird problem. I haven't done extensive research, but it seems that there is some problem with `.extend`.
You can read about that at https://github.com/NixOS/nixpkgs/issues/26561.

The solution given there is to avoid `.extend` and instead combine the old and the new overrides like this:
[code]

For me this worked perfectly fine: https://github.com/jumper149/go/comm

[2020-07-19 20:35] dmjio opened #617 "Nix extension examples"
The README.md should detail how to extend nixpkgs.

[2020-07-19 20:36] dmjio commented on #616
Agreed, I'll make a [follow-up issue](https://github.com/dmjio/miso/issues/617) to address extending things in the library, and potentially refactor miso's nix code so that `.extend` will work without a hitch. Thanks for looking into this, and excited to play multiplayer go. Feel free to join the slack too.

[2020-07-19 20:36] #616 closed

[2020-07-23 22:43] seanhess opened #618 "Using hpack with jsaddle example"
I can't figure out how to use a package.yaml file with the jsaddle example. I'm terribly new to nix, so the errors don't make sense to me. It works for nix-build, but not for `nix-shell --run reload`

If you add the following package.yaml file to the sample-app-jsaddle example folder (Created by hpack-convert), it ignores it in favor of app.cabal. You can verify this by changing main to a nonexist

[2020-07-23 22:58] seanhess commented on #618
Confusing this further, if I manually run `hpack` on package.yaml, it replaces app.cabal in the current directory, and then it works. (Although I had to remove `other-modules: Paths_app`).

So it seems like cabal2Nix is completely ignoring package.yaml with this nix configuration, and I don't understand why. It works fine to use a package.yaml file in sample-app.

[2020-07-23 23:04] seanhess commented on #618
To be clear, `nix-build` works fine. It's only a problem with `nix-shell --run reload`

[2020-07-26 00:12] seanhess commented on #617
Yes please! I'm struggling with this right now.

[2020-07-26 00:25] dmjio commented on #617
@seanhess if you join our slack I can assist you more. https://haskell-miso-slack.herokuapp.com/ 

[2020-07-27 19:02] dmjio commented on #617
Related #620

[2020-08-22 01:11] dhruvio opened #622 "Declarative Dynamic Subscriptions: Automatically manage subscriptions based on model state."
In Elm, `subscriptions` are defined as a function that "declares" subscriptions based on the application's current `model` state.

[code]

This enables developers to define subscriptions that are *dynamically* activated and deactivated based on the application's state. For example, I might want to subscribe to messages from a WebSocket server if the user has opened a view to communicate with a sup

[2020-09-04 16:34] rycee opened #623 "Expired certificates for example pages"
**Describe the bug**

The certificates for

- https://todo-mvc.haskell-miso.org/
- https://mario.haskell-miso.org/
- https://flatris.haskell-miso.org/

have expired and thus trigger browser warnings.

**Screenshots**

![expired-cert](https://user-images.githubusercontent.com/798147/92263603-2b4ef780-eedd-11ea-8f56-a0183ea45a48.png)

**Desktop (please complete the following information):**
 - Brows

[2020-09-04 17:00] dmjio commented on #623
@rycee the links on the README now point to the non-HTTPS ones.

[2020-09-04 17:02] rycee commented on #623
Sorry, I missed saying that I got the HTTPS links from https://haskell-miso.org/examples.

[2020-09-04 17:20] dmjio commented on #623
Ah, yea I need to change that, thanks.

[2020-09-26 17:23] zeta-00 opened #624 "i need help correctly implementing: `pkgs.haskell.packages.ghcjs.callCabal2nix "app" ./. {}` generically in my: (lorri+direnv+emacs-direnv) configuration:"
hello there, the setup that i'm currently using is: (lorri+direnv+emacs-direnv), I got miso working with that setup in the shell.nix file without too much problems, but i'm not sure how to generically place: `pkgs.haskell.packages.ghcjs.callCabal2nix "app" ./. {}`(https://github.com/dmjio/miso#nix) in this shell.nix file ?

if you could take a look at my shell.nix file and help fix my issue, thank

[2020-09-26 17:39] zeta-00 commented on #624
here's the error that the nix-shell command is returning:

[zeta@nixos:/miso]$ nix-shell --show-trace
building '/nix/store/nxbcirqiiy88k1684x6n62fddg9mznnl-cabal2nix-app.drv'...
installing
error: creating directory '/nix/var': Permission denied
error: creating directory '/nix/var': Permission denied
** need a revision for VCS when the hash is given. skipping.
** need a revision for VCS when the ha

[2020-09-26 18:29] sorki commented on #624
Is there `app.cabal` present in the same dir as `shell.nix`?

[2020-09-26 19:03] zeta-00 commented on #624
@sorki , oh, ya, my directory structure is different than the one in miso's instructions:
[zeta@nixos:/miso]$ tree
.
├── app
│   ├── app.cabal
│   ├── default.nix
│   └── Main.hs
└── shell.nix

1 directory, 4 files

[zeta@nixos:/miso]$

making this change to my shell.nix file fixed the error:

`(haskell.packages.ghcjs.callCabal2nix "app" ./app/app.cabal {})`

thanks for the help !

also, after mak

[2020-09-26 19:06] zeta-00 commented on #624
@sorki , maybe it's because there's some version mismatches ? i'm not sure how to troubleshoot this error.

i'm using nixos 20.03 stable channel, and ghc865.

[2020-09-26 19:07] zeta-00 commented on #624
here's the current shell.nix channel with the dir/file path change:

{ pkgs ? import <nixpkgs> {} }:

with pkgs;
mkShell
  {
    buildInputs = with pkgs;
      [
        (haskell.packages.ghc865.ghcWithHoogle (hpkgs: with hpkgs;
          [
            ghcid
            # ghcide
            cabal-install

            # web framework
            miso
            # classy-miso
            # miso-act

[2020-09-26 19:25] zeta-00 commented on #624
@sorki , i tried:
with (import (builtins.fetchTarball {
  url = "https://github.com/dmjio/miso/archive/ea25964565074e73d4052b56b60b6e101fa08bc5.tar.gz";
  sha256 = "1yb9yvc0ln4yn1jk2k5kwwa1s32310abawz40yd8cqqkm1z7w6wg";
}) {});
instead of miso from nixpkgs, and the same error is still being returned ?

i can build a miso project fine, but it throws errors when i try to set it up with my (lorri+dir

[2020-10-20 16:01] clojj opened #628 "Miso setup with vscode haskell-language-server"
Is it possible to provide the following ?

Open vscode in sample-app-jsaddle directory and have haskell-language-server plugin (vscode) working... so having refactorings, type docs, Go To definition etc.

Other nix enabled project with ghcjs have managed to ship with a setup for vscode + hls.
So I wonder, if it is possible with miso too ?
This would be a boost for getting people started with miso

[2020-10-21 07:51] smelc commented on #628
This works for me: `nix-shell --run 'code .'`

I'm using `code` provided by `snap` on Ubuntu 20.04 and an instance of `haskell-language-server` downloaded automatically by the corresponding extension.

Note that right now, there are no refactorings available; but _go to definition_ works as well as as-you-type feedback from the compiler.

[2020-10-21 08:57] clojj commented on #628
great news.. let me try this on my machine
thx for the update

[2020-10-21 15:17] avanov opened #630 "[Docs] What is (<#) and why does it require a separate action constructor in XHR example?"
Hi, there's no haddoc section coverig effects at the moment, and the XHR example is scarce on important details about model transitions. Namely, it's not clear what `<#` in the context of `m` and the do block, and it's not clear why the returned payload has to go through `SetGitHub` action instead of being assigned in the same `updateModel FetchGitHub m` case.

https://github.com/dmjio/miso/blob/m

[2020-10-21 16:11] dmjio commented on #630
Hackage doesn't build the GHCJS haddocks, so I host them here: http://haddocks.haskell-miso.org/

`<#` is a smart constructor for building a model transition with an `IO` action that is executed as well.

When performing IO the model is read-only. All IO is executed asynchronously.

[2020-10-21 16:21] avanov commented on #630
thanks for the quick feedback!

I see it now that the official website references your specific haddock domain ionstead of the hackage one. I think it would be good to put a more visible notice somewhere mentioning this GHCJS subtlety when it comes to official hackage-hosted docs. I use duckduckgo with "!h" prefix to search for signatures and packages on hackage, and whilst I was able to find miso

[2020-10-21 20:28] clojj commented on #628
Great, it is working !
if this message is ok ?
![miso-vscode-nix](https://user-images.githubusercontent.com/4367963/96779368-b3854f80-13ec-11eb-8719-d62d018e8f8a.png)

[2020-10-22 08:01] smelc commented on #628
Yes this is fine. That's because the `sample-app-jsaddle` doesn't have a `hie.yaml` file describing the code's components. But in this case `haskell-language-server` will infer the correct defaults.

[2020-10-23 03:48] tysonzero opened #631 "JSaddle breaks `preventDefault` on links"
When building with the jsaddle flag enabled, links that use an `href` tag plus `preventDefault` cause a full page reload.

To reproduce apply this diff:

[code]

Then follow the instructions in the `sample-app-jsaddle` README. When running `release` (no jsaddle), everything works correctly. However when running `dev`, the `add` link causes a full page reload.

From experimentation on other project

[2020-10-23 03:50] tysonzero commented on #631
@cocreature since you developed the `jsaddle` flag, this seems like it might be in your wheelhouse.

[2020-10-23 14:26] clojj commented on #628
I will have to look at jsaddle and see, if I can get a more bare-bones template going...

[2020-10-24 01:19] #630 closed

[2020-10-24 02:29] #631 closed

[2020-11-14 10:00] Rizary commented on #594
@niteria do you have any problem integrate servant-jsaddle with miso? I tried it but when I run `cabal new-build --allow-newer` I got the following error:
[code]

I don't understand why miso need `servant==0.15`

[2020-11-14 12:54] niteria commented on #594
Yeah, it took a bit of wrestling with Nix at a time. I wrote up what I learned here http://niteria.github.io/posts/nix-notes-overriding-haskell-packages/. I think you might find my `nixpkgs.nix` useful:

[code]

Note that it points to unmerged https://github.com/haskell-servant/servant-jsaddle/pull/4/commits/2ccf13d185e26d4cb4a51622e748ec64336435f4, for me the package was unusable without that pat

[2020-11-22 11:57] turion opened #635 "Hackage Readme broken in several ways"
While the readme renders ok on https://github.com/dmjio/miso, it is broken on https://hackage.haskell.org/package/miso.

First, there are HTML tags:

![image](https://user-images.githubusercontent.com/303489/99903053-30446b80-2cc2-11eb-8a84-b4b55ff92b1e.png)

Then links are broken:

![image](https://user-images.githubusercontent.com/303489/99903066-4c480d00-2cc2-11eb-921e-4ee969dd8c65.png)

This l

[2020-11-22 19:40] dmjio commented on #635
@turion I think this is a problem with the way hackage renders markdown.

[2020-11-26 06:55] dmjio commented on #635
Didn’t mean to close this

[2020-12-14 20:54] MazeChaZer opened #637 "todo-mvc: Checkmarks are not visible"
In the [TodoMVC demo](https://todo-mvc.haskell-miso.org/) the icons for the checkmarks are not visible, neither in Firefox nor in Chrome. This is the part of the CSS that is not working:

[code]

I belive that the problem lies in the insufficient encoding of the SVG files.

Applying URL encoding fixes the problem:

[code]

Using base64 encoding also does the trick (and is a bit shorter):

[code]

[2020-12-16 15:36] MazeChaZer commented on #637
I just found [tastejs/todomvc-app-css](https://github.com/tastejs/todomvc-app-css) and assume that is the source of the CSS file. In that repository the problem [has been fixed by urlencoding the SVG](https://github.com/tastejs/todomvc-app-css/commit/808217fab49a5e2da2d5e52aee417c62807cec28). Updating the CSS file to the latest version as provided by [tastejs/todomvc-app-css](https://github.com/ta

[2020-12-16 15:46] MazeChaZer opened #638 "todo-mvc: Reproducible build of the CSS file"
Right now the CSS file for the TodoMVC example just falls from the sky, as seen in
https://github.com/dmjio/miso/blob/db5400ad7801076a8eac1c071a654b7317b78811/examples/todo-mvc/Main.hs#L182

I assume that it has been built from [tastejs/todomvc-common](https://github.com/tastejs/todomvc-common) and [tastejs/todomvc-app-css](https://github.com/tastejs/todomvc-app-css), as they are part of the offic

[2020-12-16 15:46] MazeChaZer commented on #637
The `base.css` file from [tastejs/todomvc-common](https://github.com/tastejs/todomvc-common) has to be included, too. I just created #638 which is related to this issue.

[2020-12-18 03:59] dmjio commented on #637
@MazeChaZer feel free to make PR too if that's easier than making issues.

[2020-12-19 17:51] tkx68 opened #639 "Build error in macOS 11"
**Describe the bug**
I get the following build error after following the getting started instructions:
[code]

**Desktop (please complete the following information):**
 - OS: macOS 11.1
 - Browser NA
 - Version: current

[2020-12-24 14:49] dmjio commented on #639
@tkx68 I believe this to be a bug with `nix` and `MacOS` that indirectly affects `miso`. Will triage with the nixpkgs issue tracker to see what solutions they've come up with.

[2021-01-31 02:13] zeta-00 opened #641 "callCabal2Nix is returning errors with (direnv+nix-direnv+emacs-direnv) setup?"
Hello There,
Whenever I follow the regular instructions: https://github.com/dmjio/miso#nix , I'm able to get miso and callCabal2Nix working fine, but whenever I try to configure this with my (direnv+nix-direnv+emacs-direnv) setup, I am able to get miso working with this setup in isolated environments, but when I try to get callCabal2Nix working with this setup, errors are returned?

Attached below

[2021-01-31 02:18] zeta-00 commented on #641
I forgot that these pastebins expire pretty quicky, so I'll paste the stuff here as well!
shell.nix file:
-----------------------------------------------------------------------------------------------------------------------------
{ pkgs ? import <nixpkgs> {}}:

with pkgs;
mkShell
  {
    nativeBuildInputs = with pkgs;
      [
        (haskell.packages.ghc865.ghcWithHoogle (hpkgs: with hpkgs;

[2021-02-05 13:40] cdfa opened #642 "Hot-reloading not working"
**Describe the bug**
Hot-reloading with JSaddle is not working for me.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd sample-app-jsaddle && nix-shell --run reload`
2. `open http://localhost:8080`
3. Change something in Main.hs (for example text on button)
4. Change is not reflected on webpage and counter does not function any more

**Expected behavior**
Page is updated and counter still

[2021-02-10 10:47] valyagolev commented on #642
same. I saw it working on Windows I think (WSL), but not on Mac OS. js console gets:

[code]

[2021-02-10 11:35] cdfa commented on #642
I've learned a bit more about the ghcjs ecosystem since posting this issue and I think doing a page refresh is inevitable.
I did find that using `runApp f = JSaddle.debug 3708 f` instead of `runApp f = Warp.runSettings ...` automatically refreshes for you.
I also came across a package [preserving state through reload](https://github.com/parsonsmatt/servant-persistent/pull/33) using `foreign-store`

[2021-02-11 01:24] valyagolev commented on #642
I don't care about server-side state currently... I just used getSessionStorage / setSessionStorage on the model for now

[2021-02-27 09:56] Elland commented on #639
Seems to be still an issue. Checking over at NixOS, it looks like they've "solved it", but I'm still not able to build either. Any news on this front?

[2021-03-16 23:28] developandplay opened #644 "Diffing algorithm - newProp with value of zero leads to prop deletion"
**Describe the bug**
If I'm using anything selection based like tabs or options which has a node with a zero index that node will get deleted.
I think the reason lies in line 96.
https://github.com/dmjio/miso/blob/69f50b49adbff8217f8b51ae5f47727ee950f204/jsbits/diff.js#L94-L96
If `newProp = 0` holds then this check will fail however zero is a valid value for a new prop.
I think `newProp === undefi

[2021-03-17 05:45] dmjio commented on #644
Very nice catch.

[2021-03-17 13:23] #644 closed

[2021-03-17 23:26] developandplay opened #646 "Dynamic properties ignored by decoder"
**Describe the bug**
When the object that should be decoded has dynamic properties (getters) these will be ignored in the decoder.

**To Reproduce**
Either run [https://github.com/developandplay/material-components-web-miso](https://github.com/developandplay/material-components-web-miso) locally or check out our demo website [matiso.dev](http://www.matiso.dev.s3-website.eu-central-1.amazonaws.com/

[2021-03-20 17:03] #611 closed

[2021-04-05 01:53] F15Ky opened #649 "Error with running sample app with cabal repl"
**Describe the bug**
A clear and concise description of what the bug is.
When I run the sample app with cabal repl I get the following errors:
[code]
It runs fine if I use nix-build with the sample default.nix

**Desktop (please complete the following information):**
 - OS: Ubuntu with VirtualBox

[2021-04-05 22:17] dmjio commented on #649
@F15Ky are you sure you're using `-fjsaddle` flag?

[2021-04-05 22:18] dmjio commented on #646
Can we try doing this w/o the Set.

[2021-04-05 22:48] developandplay commented on #646
If you are thinking of replacing the Set with a regular Array then I don't think so.
The Set in this case insures that an attribute/method of an object lower down the protype chain actually [overshadows](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Inheritance_and_the_prototype_chain#inheriting_methods) the ones higher up in the prototype chain.
So if we were to use an array we would st

[2021-04-06 11:42] F15Ky commented on #649
I get the same errors when running with -fjsaddle flag.

[2021-04-06 17:52] niteria opened #650 "Broken links to Mozilla docs in Miso.Html.Property"
**Describe the bug**
It seems that Mozilla no longer hosts links such as https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Attribute/autoplay

https://github.com/dmjio/miso/blob/30e4844cc94a97751b28fcaee2004d56d5cfde51/src/Miso/Html/Property.hs#L297 is an example place where that's referenced.

[2021-04-07 15:05] cdfa opened #652 "preventDefault is not working on jsaddle"
**Describe the bug**
Using `onWithOptions (Miso.defaultOptions { preventDefault = True })` does not seem to be working when using jsaddle.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an app that has a `keydown` handler for the "ArrowDown" key with `preventDefault = True`.
2. Open the app and press the "ArrowDown" key

**Expected behavior**
Only the specified action happens.

**Act

[2021-04-07 19:06] cdfa commented on #652
Nothing else than the usual. If you're having difficulties reproducing the issue I can modify the sample app a bit, but I'm a bit low on disk space, so I was hoping I wouldn't have to build this repo's nix derivation.

[2021-04-10 01:43] dmjio commented on #652
This might be an issue with jsaddle itself.

[2021-04-10 09:54] cdfa commented on #652
Sounds plausible. How would I go about figuring that out?

[2021-04-17 19:19] yobson commented on #639
Also not working for me. I tried updating to the newest release in `default.nix` but same error.

[2021-05-18 07:24] nicu-chiciuc commented on #639
I'm having the same error

[2021-05-22 21:13] arbitrary-dev opened #655 "sample-app isn't working"
**Describe the bug**
`sample-app` isn't working.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd miso/sample-app`
2. `nix-build`
3. `open ./result/bin/app.jsexe/index.html`
4. ???
5. `command not found: open`

Also this:
[code]

...and an empty page is opened.

**Expected behavior**
Working sample app.

**Desktop (please complete the following information):**
 - OS: Pop!_OS 20.10 x86_64

[2021-05-26 19:25] coderfromhere commented on #590
Unicode is not enough, there are valid cases that require an API for pre-escaped markup like in [Blaze](https://hackage.haskell.org/package/blaze-markup-0.8.2.8/docs/Text-Blaze.html#v:preEscapedText).

[2021-05-26 23:16] niteria commented on #590
@coderfromhere I added `style_` and `script_` tags using `textRaw` internal in https://github.com/dmjio/miso/pull/601

It's not exactly what you want, but maybe it's a push in the right direction.

[2021-06-01 00:06] dmjio commented on #655
Can you try `xdg-open ./result/bin/app.jsexe/index.html`

[2021-06-02 14:42] arbitrary-dev commented on #655
Ain't it the same as `xdg-open result/bin/app.jsexe/index.html` I tried above?

[2021-06-02 14:57] dmjio commented on #655
No, `open` on OSX is in `/usr/bin/open`, it's not available on linux afaik. `xdg-open` should find your preferred browser application.

https://linux.die.net/man/1/xdg-open

[2021-06-03 06:52] arbitrary-dev commented on #655
Yes, I know. What I mean is that I've already tried `xdg-open`, but without `./` prefix for path.

[2021-06-03 13:07] dmjio commented on #655
This isn't a problem with miso, but with your local environment.

`Could not bind NETLINK socket: Address already in use (98)`

I'd encourage you to install any missing modules that might exist `Failed to load module "appmenu-gtk-module"`

[2021-06-03 13:07] #655 closed

[2021-06-06 10:57] arbitrary-dev commented on #655
What's `NETLINK socket` and where I can configure one?

[2021-07-16 09:40] georgefst commented on #639
This is fixed by https://github.com/NixOS/nixpkgs/pull/98541/, which is included in the latest stable release, 21.05. So Miso needs to bump its Nixpkgs version.

[2021-07-16 21:57] dmjio commented on #639
@georgefst I would upgrade, but they've removed `ghcjs` from `nixpkgs` for some reason.

[code]

[2021-07-17 09:58] georgefst commented on #639
Ah, that's a pretty big issue. @cdepillabout, any idea why that is?

[2021-07-17 10:18] cdepillabout commented on #639
I can't find where we originally had this discussion, but if I remember correctly, ghcjs stopped building in nixpkgs at some point.  None of the maintainers on the Haskell team in Nixpkgs use ghcjs or know anything about it, so we just left it broken (or possibly just completely removed it).  There are also no users that actively send fixes

If you (or anyone else) is interested in ghcjs being ava

[2021-07-17 17:46] dmjio commented on #639
@Sonarpulse used to maintain it, I believe, and I know a lot of folks at Obsidian use GHCJS still. I have maintained GHCs on nixpkgs before, like HaLVM, but it was also removed for some reason.

It seems all development has gone towards https://github.com/input-output-hk/haskell.nix, IOHK is a huge contributor to nixpkgs and they actively maintain GHCJS, and fund its development.

[2021-07-18 15:34] dmjio commented on #652
I'd try to make a minimal example of using `preventDefault` with `jsaddle` and with vanilla ghcjs, and check the `jsaddle` source as well.

[2021-08-03 18:39] wout opened #657 "Website certificate is expired"
The website certificate needs a refresh:

![image](https://user-images.githubusercontent.com/107324/128068630-f3fffd12-cb86-4dd2-83ab-e847bda341ad.png)

[2021-09-03 12:30] maridonkers opened #658 "default.nix; no more SHAs"
I'm always somewhat frustrated when I have too look up an SHA for a Miso release, as e.g. in the `default.nix` example given below:

[code]

Suggestion is to instead use a syntax without SHA, e.g. as follows:

`default.nix`:
[code]

Another example:

`examples/haskell-miso.org/default.nix`
[code]

[2021-09-03 17:23] dmjio commented on #658
that's a great idea.

[2021-09-09 21:08] dmjio commented on #657
`Sep 09 21:05:55 awsBox systemd[1]: acme-haskell-miso.org.service: Succeeded.`

[2021-09-13 13:22] #657 closed

[2021-09-13 13:58] dmjio commented on #649
This should be fixed now in `1.8`

[2021-09-13 13:59] #623 closed

[2021-09-14 07:02] saschaheylik opened #668 "miso jsaddle is broken with 1.8 (at least in firefox)"
**Describe the bug**
After upgrading to 1.8, my application no longer works when trying to run with jsaddle. The GHCJS build still works. You can reproduce the bug using sample-app-jsaddle.

The bug seems to occur in Firefox but not in Chrome. Sometimes another Error is shown: "Error : Unexpected Duplicate. syncCallbacks=True nBatch=4 nExpected=6"

**To Reproduce**
Steps to reproduce the behavior:

[2021-09-14 07:05] saschaheylik commented on #668
The bug seems to occur in Firefox but not in Chrome. Sometimes another Error is shown: Error : Unexpected Duplicate. syncCallbacks=True nBatch=4 nExpected=6

[2021-09-17 15:34] dmjio commented on #649
Re-open if this isn't fixed plz.

[2021-09-17 15:34] #649 closed

[2021-09-17 15:36] dmjio commented on #641
For the best experience, I'd use the default setup. Then progressively try to make things more complex.

[2021-09-17 15:36] #641 closed

[2021-09-17 15:38] dmjio commented on #635
hackage links are fixed

- https://hackage.haskell.org/package/miso
- https://haddocks.haskell-miso.org/

[2021-09-17 15:38] #635 closed

[2021-09-17 15:49] dmjio commented on #588
Diagnostic info has been added via `logLevel`

[2021-09-18 18:56] dmjio commented on #624
I'd ask on #nixos on libera.chat

[2021-09-18 18:56] #624 closed

[2021-09-18 18:57] #588 closed

[2021-09-20 15:50] dmjio commented on #668
![image](https://user-images.githubusercontent.com/875324/134032837-9c6a1ea3-aaa9-4641-b82c-df3b76a8f34c.png)

While I do see the app does become unresponsive, I'm unable to reproduce the exact error you're experiencing in the console.

[code]

[2021-09-20 18:16] #628 closed

[2021-09-21 21:10] dmjio commented on #668
[code]

 When using `asyncHandler` the above does not `preventDefault` w/ `jsaddle`.

[2021-09-21 21:48] dmjio commented on #668
The issue is that `preventDefault` is called inside the callback function of `asyncFunction`, instead of upfront right when the event is received.

[code]

The problem is that we have no way of knowing if the user wants to call `preventDefault` at that point. Since the options of how to handle events live on VTree, and the only way of getting VTree is inside a Haskell thread. Changing the function

[2021-09-21 22:25] dmjio commented on #668
Ok, so upon further inspection, `syncCallback` (in `GHCJS`) and `function` (in `jsaddle`) are the correct semantics for handling events (and calling Haskell code inside of a JS event handler). `miso` had always used this even before the transition to `jsaddle`, and even after. This was reverted (incorrectly) in the following commit https://github.com/dmjio/miso/commit/afe2536b08c7bea5267b1e7b0121c

[2021-09-21 22:25] #668 closed

[2021-09-21 22:32] dmjio commented on #652
@cdfa Can you give me a sample application of this exact behavior? I believe `keydown`, unless prevented on `window` will scroll the page. I'd recommend using a subscription for `keydown` in that case.

[2021-09-21 22:47] dmjio commented on #642
This works fine for me w/ both `Chrome` and `Firefox` in `1.8`.

[2021-09-21 22:47] #642 closed

[2021-09-22 03:23] dmjio commented on #638
https://github.com/dmjio/miso/commit/658eb44727bfb1dd46f8ea5e30e67a60cecf20a8

[2021-09-22 03:23] #638 closed

[2021-09-22 03:23] dmjio commented on #637
https://github.com/dmjio/miso/commit/658eb44727bfb1dd46f8ea5e30e67a60cecf20a8

[2021-09-22 03:23] #637 closed

[2021-09-22 04:19] dmjio commented on #618
This was fixed, `nix-shell --run reload` is good now.

[2021-09-22 04:19] #618 closed

[2021-09-22 04:23] #549 closed

[2021-09-22 04:24] #498 closed

[2021-09-22 04:26] dmjio commented on #587
this should be fixed since the node collapse, re-open if not.

[2021-09-22 04:26] #587 closed

[2021-09-22 04:28] #387 closed

[2021-09-22 04:29] dmjio commented on #254
https://github.com/dmjio/miso/issues/254#issuecomment-321987762

[2021-09-22 04:29] #254 closed

[2021-09-22 04:29] #340 closed

[2021-09-22 04:30] dmjio commented on #487
They link well enough now on hackage. https://hackage.haskell.org/package/miso-1.8.0.0/docs/Miso-Html-Types.html#t:VTree

[2021-09-22 04:30] #487 closed

[2021-09-22 04:32] #407 closed

[2021-09-22 04:33] dmjio commented on #658
https://github.com/dmjio/miso/commit/4baab9de2a8970c99f7296ba38a4f15ed919d3cd

[2021-09-22 04:33] #658 closed

[2021-09-22 10:34] cdfa commented on #652
I think this is related to #668. Will reopen if I find out it's something else.

[2021-09-22 10:34] #652 closed

[2021-09-22 11:06] cdfa commented on #668
This issue has been raised with `jsaddle` a long time ago https://github.com/ghcjs/jsaddle/issues/64. I think it doesn't work on Firefox because of this even older ticket: https://bugzilla.mozilla.org/show_bug.cgi?id=697151. Chrome also doesn't like web applications doing synchronous XHR in event handling, because it can make applications unresponsive and I think they're right.
I think there is si

[2021-09-22 14:38] dmjio commented on #652
@cdfa try using `stopPropagation` w/ it.

[2021-09-22 16:39] dmjio commented on #515
This should be supported at the executable level, `miso` doesn't need to directly depend on this itself. Re-open if this changes.

[2021-09-22 16:39] #515 closed

[2021-09-22 20:28] dmjio commented on #478
There's really no way to specify multiple event handlers outside of an HTML element. We could do something like this:

[code]

But there's really no clean way to support this as is.

[2021-09-23 22:19] dmjio commented on #605
Please re-open if you don't deem this as resolved.

[2021-09-23 22:19] #605 closed

[2021-09-24 18:42] dmjio commented on #622
Please re-open if `miso` does not current satisfy dynamic subscriptions to your liking.

[2021-09-24 18:42] #622 closed

[2021-09-24 18:43] dmjio commented on #452
Sadly I don't think cross compiling to ARM will solve this, since it still uses the same webkit rendering engine.

[2021-09-24 18:44] #425 closed

[2021-09-24 18:45] dmjio commented on #419
stack templates would be great.

[2021-09-24 18:45] #419 closed

[2021-09-25 17:56] dmjio commented on #646
Merged in https://github.com/dmjio/miso/commit/b32d796ff6ca4434b986fae7844b1df8fe711b54

[2021-09-25 17:56] #646 closed

[2021-10-07 23:14] nirohank opened #679 "TouchList not properly parsed, SVG example broken"
The SVG example is broken. On touch event:
[code]

I think it's because `instanceof Array` returns false for the `TouchList` type, even though it looks list-y:
https://github.com/dmjio/miso/blob/master/jsbits/delegate.js#L109

**To Reproduce**
Steps to reproduce the behavior:
1. https://svg.haskell-miso.org/
2. Open console
3. Enable touch emulation in browser
4. Click (touch) in rectangle
4. See

[2021-10-08 02:50] dmjio commented on #679
Works fine for me on both firefox and safari, on OSX and Linux. Are you referring to mobile?

[2021-10-08 03:16] nirohank commented on #679
addendum: needs click + drag. the error comes on the touchmove event, not the initial click.

[2021-10-08 03:18] nirohank commented on #679
![Screenshot from 2021-10-08 14-17-09](https://user-images.githubusercontent.com/78327386/136492960-f1ac3488-f503-41cb-86a4-d227cd947c4e.png)

[2021-10-16 15:43] dmjio commented on #679
https://github.com/dmjio/miso/pull/681

[2021-10-16 18:14] dmjio commented on #679
Works on mobile now.

[2021-10-16 18:14] #679 closed

[2021-11-27 14:02] jessaustin opened #684 "sample-app won't build"
`nix-build` fails in `miso/sample-app`

Following [the instructions](https://github.com/dmjio/miso#begin):

[code]
Rolling back to a previous version seems to fix the problem:

[code]
...and the sample app opens. This is the first time I've used `nix` or even Haskell itself, so I didn't have much luck figuring out the error.

This is on Linux 5.11.0 Ubuntu 20.04.3 LTS.

[2021-11-28 19:11] jessaustin commented on #684
Later when I had time I ran `git bisect`:

[code]
This makes 3e5a5f2 the last good commit.

[2021-11-28 21:24] dmjio commented on #684
The error you're seeing

[code]

I believe is heap exhaustion during the linking phase.

Can you paste your machines specs, and also try `nix-build -j1` (single core build).

[2021-11-28 23:19] jessaustin commented on #684
Thanks so much for following up! With `-j1`, I got the same results for the same commits.

I'm not sure what specs you mean? How is this?
[code]

[2021-11-29 09:36] dmjio commented on #684
I have gotten this same error in the CI server as well, restarting the build seemed to fix it. I cannot reproduce locally unfortunately. This is an issue with nix, not with miso. One alternative is to just use GHC and jsaddle for development, and then come back to this issue. https://github.com/dmjio/miso/blob/master/sample-app-jsaddle/README.md

[2021-11-30 10:14] jessaustin commented on #684
Thanks for that advice @dmjio! `jsaddle` seems to work very well. I won't have anything to deploy for a long time, so I just won't worry about this issue. Feel free to close this if you don't want the noise.

[2021-12-01 08:05] #684 closed

[2022-01-15 12:26] deemp opened #691 "sample-app-jsaddle description refers to a non-existing module"
**Describe the bug**
The [instruction](https://github.com/dmjio/miso/tree/master/sample-app-jsaddle#add-external-javascript-file) refers to the module `B` which appears [here](https://github.com/developandplay/material-components-web-miso/blob/97a20097bf522b62743c884b66757eb895edd690/sample-app-jsaddle/Main.hs#L14), but not [here](https://github.com/dmjio/miso/blob/master/sample-app-jsaddle/Main.h

[2022-01-15 12:46] zeme-wana opened #692 "Building the example project takes 8GB of RAM, is this expected?"
I followed the exact steps in the README, and running
`nix-shell -A env --run 'cabal configure --ghcjs && cabal build'` takes 8GB or RAM.
Is this expected?
Is this related to miso or is this common to all ghcjs projects?
I wonder what will happen as my project scales: as I actually add modules and packages, how will RAM takeup increase?

[2022-01-15 18:03] dmjio commented on #692
This seems to only be a problem with the latest GHCJS. Using miso's last pin of nixpkgs will use GHCJS 8.6.5, which will not use as much RAM.

[2022-01-16 16:48] dmjio commented on #692
@zeme-wana could you post this on https://github.com/ghcjs/ghcjs/issues? Ideally with as much detail as you can provide. I imagine everyone is running into this.

[2022-01-16 16:49] dmjio commented on #692
there's this https://github.com/ghcjs/ghcjs/issues/821

[2022-01-18 11:05] smelc commented on #692
I posted on ghcjs/ghcjs#821

[2022-02-09 19:18] misocritic opened #694 "Miso is a total failure."
**Describe the bug**

David is a bug. He could not stop blaming President Xi for his total failure. He called himself David Xi and David Xison and introduced himself to me as one of Xi's stepsons. He told me he's a communist that would send Xi to Guantanamo Bay Camp to tech him Haskell and Miso. He blames Xi for his lack of sponsorship to further develop his idiotic framework Miso, or stinky Japan

[2022-02-09 19:20] misocritic commented on #694
Describe the bug

David is a bug. He could not stop blaming President Xi for his total failure. He called himself David Xi and David Xison and introduced himself to me as one of Xi's stepsons. He told me he's a communist that would send Xi to Guantanamo Bay Camp to techteach him Haskell and Miso. He blames Xi for his lack of sponsorship to further develop his idiotic framework Miso, or stinky Japa

[2022-02-09 19:24] misocritic opened #695 "Miso is a total failure."
**Describe the bug**
David is a bug. He could not stop blaming President Xi for his total failure. He called himself David Xi and David Xison and introduced himself to me as one of Xi's stepsons. He told me he's a communist that would send Xi to Guantanamo Bay Camp to teach him Haskell and Miso. He blames Xi for his lack of sponsorship to further develop his idiotic framework Miso, or stinky Japan

[2022-02-10 19:54] Microtribute opened #696 "Does not work with ghc 9.2.1"
**Describe the bug**

@dmjio David is a bug. He could not stop blaming President Xi for his own total failure. He called himself David Xi and David Xison and even David Xionson and introduced himself to me as one of Xi's stepsons. He told me he's a communist that would send Xi to Guantanamo Bay Camp to teach him @haskell and Miso. He blames Xi for his lack of sponsorship to further develop his idi

[2022-02-10 19:59] #696 closed

[2022-03-14 11:10] georgefst commented on #639
Anyone got any progress here?

GHCJS not being in Nixpkgs is a huge issue for Miso, given that it's the recommended installation method.

[2022-03-14 13:49] cdepillabout commented on #639
GHCJS was recently added back to Nixpkgs by Obsidian: https://github.com/NixOS/nixpkgs/pull/137066

There are a few other related PRs since that one if you search for GHCJS: https://github.com/NixOS/nixpkgs/pulls?q=is%3Apr+label%3A%226.topic%3A+haskell%22+ghcjs+is%3Aclosed

[2022-04-01 03:00] liamoc opened #698 "Ability to inform miso of external DOM updates?"
**Is your feature request related to a problem? Please describe.**
I am currently using Sortable.js (https://sortablejs.github.io/Sortable/) to make a nice easy drag-to-sort list of items. The way I make this cooperate with miso is to, in JS in the onEnd handler, call a custom event on the dragged item, and associating an action with that in the Miso view that updates the model by reordering the i

[2022-04-07 14:33] totraku opened #699 "nix-build command fails on ghcjs-base checkout"
**nix-build command fails**
After following the steps for building with nix I get `The unauthenticated git protocol on port 9418 is no longer supported` on `nix-build` apparently while trying to checkout `git://github.com/ghcjs/ghcjs-base`

**To Reproduce**
Steps to reproduce the behavior:
Followed the steps in https://github.com/dmjio/miso#nix

**Expected behavior**
Project is built.

**Desktop:*

[2022-04-07 19:32] dmjio commented on #699
You might be able to get around this if you use miso's cachix cache.

https://github.com/dmjio/miso#binary-cache

[2022-04-07 20:53] dmjio commented on #698
Do you have a repo or a gist that I could repro the error here.

[2022-04-08 07:49] totraku commented on #699
@dmjio thank you very much, thid did the trick!

[2022-04-08 07:49] #699 closed

[2022-04-08 08:42] liamoc commented on #698
Not at the moment, but I can make one fairly easily I think. I'll post back when I do.

[2022-04-10 11:55] liamoc commented on #698
Hi @dmjio , I've added a minimal repro here. You'd need Sortable.js too of course:

 https://gist.github.com/liamoc/97a92029233ad03f1ca9b97b4ff0e6c6

 As  you can see the list elements end up being displayed in a different order than they appear in the model.

[2022-04-10 11:56] liamoc commented on #698
Hi @dmjio , I've added a minimal repro here. You'd need Sortable.js too of course:

 https://gist.github.com/liamoc/97a92029233ad03f1ca9b97b4ff0e6c6

 As  you can see the list elements end up being displayed in a different order than they appear in the model.

[2022-04-18 18:40] chris-dem opened #703 "Nix-Build Error"
I keep ketting this error `The unauthenticated git protocol on port 9418 is no longer supported.` when running nix-build. Specifically on the link `git://github.com/ghcjs/ghcjs-base (rev 01014ade3f8f5ae677df192d7c2a208bd795b96c) into /nix/store/rw6wianl67igvdka1jrddbsrq3q2kri8-ghcjs-base-01014ad`.
Does anyone have any idea how to resolve this? I have already tried changing my git --config. In addi

[2022-04-18 18:44] #703 closed

[2022-05-01 21:08] DavSanchez opened #705 "nix-build of the sample app throws error: cannot coerce null to a string"
Hi guys, I don't know much about nix, but this seems like it needs to be fixed from this side.

**Describe the bug**
There is not much else to add. I attach the traces below.

**To Reproduce**
Steps to reproduce the behavior:
Just follow the [Quick start](https://github.com/dmjio/miso#quick-start)
[code]

**Expected behavior**
The sample application should build and run without issues.

**Desktop

[2022-05-03 21:32] DavSanchez commented on #705
Looks like this `cc-wrapper` is causing this, I have checked the nixpkgs repo and it seems the problematic check is still there, but not sure how to solve it yet...

[2022-05-04 00:55] dmjio commented on #705
Seems like an M1 specific error.

[2022-05-10 15:23] br4ch1st0chr0n3 commented on #703
Hi, @chris-dem. I also got this error. How did you fix it?

[2022-05-10 16:02] chris-dem commented on #703
If I remember correctly, I switched to ghc 8.10

[2022-05-10 16:54] br4ch1st0chr0n3 commented on #703
Thank you, @chris-dem

[2022-09-09 12:54] #705 closed

[2022-11-13 10:47] herson commented on #705
+1